.menu-bar {
    display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  box-sizing: inherit;
  height: 87px;
}
.menu-bar ul {
  justify-content: center;
  display: inline-flex;
  list-style: none;
  height: fit-content;
  width: max-content;
}
.menu-bar ul li {
  justify-content: center;
  width: 80px;
  margin: 15px;
  padding: 15px;
  margin-right: 0%;
  font-weight: 500;
  
}
input {
  height: 30px;
  margin-top: 10px;
  margin-left: 90px;
  width: 300px;
  padding: 5px 10px;
}
img {
  justify-content: center;
  height: 60px;
  width: 60px;
  margin-top: 11px;
}
.menu-bar ul li a {
  text-decoration: none;
  color: black;
}
.sub-menu-1 {
  display: none;
  font-weight: bold;
}
.menHover:hover {
  border-bottom: 4px solid rgb(238, 0, 119);
}
.menHover2:hover {
  border-bottom: 4px solid rgb(241, 106, 174);
}
.menHover3:hover {
  border-bottom: 4px solid orangered;
}
.menHover4:hover {
  border-bottom: 4px solid gold;
}
.menHover5:hover {
  border-bottom: 4px solid rgb(78, 170, 240);
}
.menHover6:hover {
  border-bottom: 4px solid saddlebrown;

}
.menu-bar ul li:hover .sub-menu-1 {
  display: flex;
  position: absolute;
  margin-top: 30px;
  font-weight: 300;
  font-size: 12px;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0 4px 12px 0 rgba(0,0,0,.05);
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.05);
    background-color: #fff;
}
.menu-bar ul li:hover .sub-menu-1 ul {
  display: block;
}
.menu-bar ul li:hover .sub-menu-1 ul li {
  width: 150px;
  padding: 1px 5px;
  background: transparent;
  text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li a h4 {
  color: rgb(238, 0, 119);
}
ul > li:nth-child(5) {
  height: fit-content;
  width: max-content;
}
.pro {
  height: fit-content;
  width: max-content;
  display: flex;
  flex-direction: column;
  /* box-sizing: border-box; */
  /* border: 1px solid teal; */
  /* float: left; */
}
.pro > img {
  height: 20px;
  width: 20px;

  /* */
}
#Profile-Div {
  display: flex;
  height: 80px;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
}

.pro > span {
  /* border: 2px solid crimson; */
  margin-left: 45px;
}
#bag {
  margin-left: 52px;
}
.icon {
  padding-left: 25px;
  background: url("file:///C:/Users/Admin/Downloads/search_FILL0_wght400_GRAD0_opsz48.svg")
  no-repeat left;
  background-size: 20px;
  height: 35px;
  border: none;
  background-color: #f5f5f6;
}


.studio-new{
  color:#ff4e78;
 padding: 5px;
font-size:xx-small ;
}
.bottomWear{
  background-color:rgb(250, 250, 250);
}
#std{
  height: 300px;
 width: 100%;
 margin: auto;
}
#studioDiv{
  width: 500px;
  
}
.menHover:hover .sub-menu-1,
.menHover2:hover .sub-menu-1,
.menHover3:hover .sub-menu-1,
.menHover4:hover .sub-menu-1 {
  display: block;
}
